<ion-header>
  <ion-toolbar>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu-toggle auto-hide="false" *ngFor="let task of tasks;let i=index">
    <ion-item>
      <ion-icon slot="end" name="create" (click)="updateTask(task)" data-placement="left" data-toggle="tooltip" title="view details"></ion-icon>
    <ion-icon slot="end" name="trash" (click)="deleteTask(task.id)" data-placement="left" data-toggle="tooltip" title="delete task"></ion-icon>
    <ion-label>
      {{task.title}}
    </ion-label>
  </ion-item>
</ion-menu-toggle>
<app-newtask (outEnterTask)="addTask($event)"></app-newtask>
</ion-content>
