ion-calendar{
   padding-top: 100px;
   padding-left: 250px;
   padding-right: 250px; 
}
#save{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
#clear{
    margin-left:auto;
    margin-right:auto;
    display:block;
}